@charset "UTF-8";
/*/////remplissage icône//////*/
.far:hover {
  font-weight: bold;
  color: #ba68c8; }

/*/////animation apparition menu//////*/
@keyframes menu-in {
  0% {
    transform: translateY(200px);
    opacity: 0; }
  75% {
    opacity: 0; }
  80% {
    opacity: 0,1; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
p, h2, h3 {
  font-family: 'Athiti', sans-serif; }

@font-face {
  font-family: 'CooperBlack';
  src: url("fonts/cooper-black/COOPBL.ttf") format("ttt"); }
.menu-restaurant__nom {
  font-family: 'CooperBlack', 'Titan', cursive;
  font-size: 1.5rem;
  font-style: italic; }

h2 {
  font-size: 1.3rem; }

footer {
  color: white; }

footer h4 {
  font-family: 'CooperBlack', 'Titan', cursive;
  font-style: italic; }

/*/////////////////////// Media Queries - responsive /////////////////////////*/
@media screen and (max-width: 425px) {
  header {
    padding-top: 15px;
    height: 80px; }

  header img {
    display: block;
    margin: 20px auto 0 auto; }

  header .fas {
    position: absolute;
    top: 40px;
    left: 35px;
    font-size: 1.5rem; } }
@media screen and (max-width: 425px) {
  footer {
    background-color: #424242;
    padding-bottom: 30px; }

  .contenu-footer {
    padding: 5px 0 5px 20px; }

  footer .fas {
    margin: 5px 5px 5px 5px;
    color: white;
    font-size: 0.7rem; }

  p {
    margin-block-start: 0em;
    margin-block-end: 0em; } }
@media screen and (max-width: 425px) {
  .menu-restaurant {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column; }
    .menu-restaurant__photo {
      height: 235px; }
    .menu-restaurant__photo img {
      width: 425px; }
    .menu-restaurant__nom {
      border-radius: 50px 50px 0 0;
      padding-left: 20px; }
    .menu-restaurant__nom h1 {
      margin-block-end: 0em;
      font-size: 1.8rem; }
    .menu-restaurant__nom .far {
      left: 320px;
      bottom: 37px; }
    .menu-restaurant__entrées {
      display: flex;
      flex-direction: column; }
    .menu-restaurant__bouton {
      text-align: center;
      border-radius: 20px 20px 20px 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 30px auto 30px 115px;
      width: 45%;
      background-color: #ba68c8;
      color: white;
      box-shadow: 2px 10px 25px #bdbdbd; }
      .menu-restaurant__bouton:hover {
        cursor: pointer;
        transform: scale(1.2); }

  .item-titre {
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 20px; }
    .item-titre--border {
      border-bottom: 2px solid;
      border-color: #a5d6a7; }

  /*///// en faire une mixin*/
  .item {
    width: 80%;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    margin: 20px auto auto 20px;
    background-color: #f5f5f5;
    box-shadow: 2px 10px 25px #bdbdbd;
    height: 60px;
    transform: scaleX(1);
    animation: menu-in 1500ms 200ms ease-in-out both; }
    .item:hover > .item__progress {
      transform: scaleX(1); }
    .item:hover > .item__progress i {
      transform: rotate(360deg); }
    .item:hover > .item__prix {
      transform: translate(-50px); }
    .item--2 {
      animation-delay: 400ms; }
    .item--3 {
      animation-delay: 600ms; }
    .item--4 {
      animation-delay: 800ms; }
    .item__choix h2 {
      margin-block-start: 0em;
      margin-block-end: 0em;
      font-size: 1rem; }
    .item__prix {
      position: relative;
      left: 280px;
      bottom: 47px;
      transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1); }
    .item__progress {
      border-radius: 0 13px 15px 0;
      height: 80px;
      width: 80px;
      position: relative;
      background-color: #a5d6a7;
      left: 270px;
      bottom: 111px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1); }
    .item__progress i {
      position: relative;
      left: 25px;
      top: 25px;
      opacity: 1;
      color: white;
      font-size: 2rem;
      transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1); }
    .item__prix h2 {
      font-size: 1rem; } }
@media screen and (max-width: 425px) {
  body {
    width: 100%;
    background-color: white;
    margin: 0px; } }
@media screen and (max-width: 425px) {
  .localisation {
    display: block;
    background-color: #fafafa;
    height: 40px;
    box-shadow: 0px 8px 30px #bdbdbd; }

  .localisation p {
    margin-left: 140px;
    padding-top: 6px; }

  .localisation .fas {
    margin-right: 10px; }

  .home-book {
    background-color: #f5f5f5;
    padding-top: 1px;
    padding-bottom: 15px; }
    .home-book__title {
      text-align: center;
      font-size: 2rem; }
    .home-book__text {
      text-align: center;
      font-size: 1.3rem;
      margin: auto 30px auto 30px; }
    .home-book__btn {
      text-align: center;
      border-radius: 20px 20px 20px 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin: 30px auto 30px 115px;
      width: 45%;
      background-color: #ba68c8;
      color: white;
      box-shadow: 2px 10px 25px #bdbdbd; }
      .home-book__btn:hover {
        cursor: pointer;
        transform: scale(1.2); }

  .menu-work {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px; }

  .menu-work h2 {
    font-size: 2rem; }

  .home-work {
    display: flex;
    font-size: 1rem; }
    .home-work__number {
      text-align: center;
      width: 6%;
      height: 100%;
      margin-top: 20px;
      border-radius: 100%;
      background-color: #ba68c8;
      color: white;
      position: relative;
      left: 10px; }
    .home-work__texte {
      width: 80%;
      border-radius: 10px 10px 10px 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      box-shadow: 2px 10px 25px #bdbdbd;
      transition: transform 400ms ease-in-out; }
      .home-work__texte:hover {
        background-color: #ba68c8;
        opacity: 50%;
        cursor: pointer;
        transform: scale(1.12);
        color: white; }
    .home-work__texte .fas {
      margin-left: 30px;
      margin-right: 30px; }
    .home-work__texte .fa-ellipsis-v {
      margin-right: 0px; }
    .home-work__texte .fa-bars {
      margin-left: 0px; }
    .home-work__texte .fa-mobile-alt {
      margin-left: 35px; }

  .preview-restaurant {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; }

  .preview-restaurant h2 {
    font-size: 2rem;
    margin-left: 30px; }

  .home-restaurant a {
    color: black;
    text-decoration: none; }

  .home-restaurant {
    width: 350px;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 10px 25px #bdbdbd; }
    .home-restaurant:hover {
      cursor: pointer; }
    .home-restaurant__image {
      width: 350px;
      height: 200px;
      overflow: hidden;
      border-radius: 25px 25px 0 0; }
    .home-restaurant__image img {
      width: 400px; }
    .home-restaurant__title {
      margin-left: 25px;
      margin-block-start: 0.8em;
      margin-block-end: 0em; }
    .home-restaurant__city {
      margin-left: 25px; }
    .home-restaurant__new {
      background-color: #f1f8e9;
      color: #558b2f;
      width: 80px;
      height: 27px;
      position: relative;
      left: 250px;
      bottom: 250px;
      border-radius: 11%;
      text-align: center; }

  .far {
    font-size: 2rem;
    position: relative;
    left: 280px;
    bottom: 50px; } }

/*# sourceMappingURL=style.css.map */
