p, h2, h3 {
    font-family: 'Athiti', sans-serif;
}

@font-face {
    font-family: 'CooperBlack';
    src: url('fonts/cooper-black/COOPBL.ttf') format('ttt');
}
.menu-restaurant {
        &__nom {
            font-family: 'CooperBlack', 'Titan', cursive;
            font-size: 1.5rem;
            font-style:italic;
        }
}

h2 {
    font-size: 1.3rem;
}

footer  {
    color: white;
}

footer h4 {
    font-family: 'CooperBlack', 'Titan', cursive;
    font-style: italic;
}

/*/////////////////////// Media Queries - responsive /////////////////////////*/
@media screen and (max-width: 425px) {
}

