p, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

.menu-restaurant {
    &__nom {
        font-family: 'Shrikhand', cursive;
        font-size: 1.5rem;
        font-style: italic;
    }
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

p {
    font-weight: 100;
}

footer  {
    color: white;
}

footer h4 {
    font-family: 'Shrikhand', cursive;
    font-style: italic;
}


