/*/////animation apparition menu//////*/

/*régler l'opacité, faire en sorte que les items soient décalés*/

@keyframes menu-in {
    0% {
        transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}



