/*/////remplissage icône//////*/

.far:hover {
    font-weight: bold;
    color: $color-btn-order;
    animation: heart 2000ms ease-in-out both;
}

/*/////animation apparition menu//////*/
@keyframes menu-in {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    80% {
        opacity: 0,1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
        opacity: 1;
        font-size: 8rem;
    }

    75% {
        opacity: 1;
    }

    85% {
        opacity: 0.1;
        font-size: 7rem;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
        font-size: 0rem;
    }
}

@keyframes heart {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}



