$color-footer: #424242;
$background: white;
$color-btn-order: #FF79DA;
$background-book: #fafafa;
$color-shadow: #bdbdbd;
$color-bloc-new: #f1f8e9;
$color-border: #99E2D0;

@mixin bouton-generique ($margin, $size) {
    text-align: center;
    font-size: $size;
    border-radius: 70px 70px 70px 70px;
    padding: 12px;
    margin: $margin;
    width: 45%;
    background-color: $color-btn-order;
    color: white;
    box-shadow: 2px 10px 25px $color-shadow;
    transition: transform 400ms ease-in-out;

    &:hover {
        background-color: lighten($color-btn-order, 5%);
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: 2px 25px 30px $color-shadow;
    }
}

@mixin bloc-new ($bottom) {
    background-color: #f1f8e9;
    color: #75ab37;
    width: 120px;
    height: 50px;
    position: absolute;
    left: 75%;
    bottom: $bottom;
    border-radius: 11%;
    text-align: center;
}

@mixin bloc-new__mobil ($bottom) {
    background-color: #f1f8e9;
    color: #75ab37;
    width: 60px;
    height: 30px;
    position: absolute;
    left: 75%;
    bottom: $bottom;
    border-radius: 11%;
    text-align: center;
}

@mixin bloc-new__tablette ($bottom) {
    background-color: #f1f8e9;
    color: #75ab37;
    width: 90px;
    height: 40px;
    position: absolute;
    left: 75%;
    bottom: $bottom;
    border-radius: 11%;
    text-align: center;
}
@mixin preview-restaurant ($width) {
    width: $width;
    height: auto;
    display: flex;
    background-color: white;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 10px 25px $color-shadow;
    animation: menu-in 1500ms 3500ms ease-in-out both;

    &:hover {
        cursor: pointer;
    }
}

@mixin numero-rond ($font-size, $width, $height) {
    text-align: center;
    width: $width;
    height: $height;
    margin-top: 22px;
    font-size: $font-size;
    border-radius: 50%;
    background-color: #ba68c8;
    color: white;
    position: relative;
    left: 15px;
    bottom: 10px;
}

@mixin texte-work ($font-size) {
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: $font-size;
    background-color: #f5f5f5;
    box-shadow: 2px 10px 25px $color-shadow;
    transition: transform 400ms ease-in-out;

    &:hover {
        background-color: lighten(#f5f5f5, 2%);
        opacity: 70%;
        box-shadow: 2px 20px 30px $color-shadow;
        cursor: pointer;
        transform: scale(1.05);
    }
}

@mixin item ($margin, $height) {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    margin: $margin;
    background-color: #f5f5f5;
    box-shadow: 2px 10px 25px #bdbdbd;
    height: $height;
    transform: scaleX(1);
    animation: menu-in 1500ms 200ms ease-in-out both;

    &:hover {
        cursor: pointer;
    }
}

    @mixin progress-bar ($height) {
        border-radius: 0 13px 15px 0;
        height: $height;
        width: 130px;
        position: relative;
        background-color: $color-border;
        left: 16px;
        bottom: 15px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    }
