@media screen and (max-width: 425px) {

    header {
        padding-top: 15px;
        height: 80px;
    }

    header img {
        display: block;
        margin: 20px auto 0 auto;
    }

    header .fas {
        position: absolute;
        top: 40px;
        left: 35px;
        font-size: 1.5rem;
    }
}
