@media screen and (max-width: 1024px) {

    .menu-restaurant {
        background-color: $background-book;
        display: flex;
        flex-direction: column;

        &__photo {
            height: 600px;
        }

        &__photo img {
            width: 1024px;
        }

        &__nom {
            border-radius: 50px 50px 0 0;
            padding-left: 50px;
        }

        &__nom h1 {
            margin-block-end: 0em;
            font-size: 3rem;
        }

        &__nom .far {
            left: 750px;
            bottom: 37px;
        }

        &__entrées {
            display: flex;
            flex-direction: column;
        }
    }

    .item-titre {
        font-size: 2.5rem;
        padding-top: 20px;
        padding-left: 50px;

        &--border {
            border-bottom: 3px solid;
            border-color: $color-border;
        }
    }

    .item {
        @include item (30px auto auto 50px, 80px);

        &:hover {
            & > .item__progress {
                transform: scaleX(1);
            }

            & > .item__progress i {
                transform: rotate(360deg);
            }

            & > .item__prix {
                transform: translate(-50px);
            }
        }

        &--2 {
            animation-delay: 400ms;
        }

        &--3 {
            animation-delay: 600ms;
        }

        &--4 {
            animation-delay: 800ms;
        }

        &__choix h2 {
            margin-block-start: 0em;
            margin-block-end: 0em;
            font-size: 1.8rem;
        }

        &__choix p {
            font-size: 1.5rem;
        }

        &__prix {
            position: relative;
            left: 700px;
            bottom: 90px;
            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
        }

        &__progress {
            @include progress-bar (754px, 179px, 110px);
        }

        &__progress i {
            position: relative;
            left: 20px;
            top: 32px;
            opacity: 1;
            color: white;
            font-size: 2.5rem;
            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
        }

        &__prix h2 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 768px) {

    .menu-restaurant {
        &__photo img {
            width: 768px;
        }

        &__photo {
            height: 390px;
        }

        &__nom .far {
            left: 570px;
            bottom: 55px
        }
    }

    .item {
        &__progress {
            @include progress-bar (549px, 179px, 110px);
        }

        &__prix {
            left: 520px;
        }
    }
}

@media screen and (max-width: 425px) {

    .menu-restaurant {
        &__photo img {
            width: 425px;
        }

        &__photo {
            height: 220px;
        }

        &__nom .far {
            left: 296px;
            bottom: 31px;
            font-size: 2.1rem;
        }

        &__nom {
            border-radius: 50px 50px 0 0;
            padding-left: 30px;
        }

        &__nom h1 {
            font-size: 1.5rem;
        }
    }

    .item-titre {
        font-size: 1.5rem;
        padding-left: 30px;

        &--border {
            border-bottom: 2px solid;
            border-color: $color-border;
        }
    }

    .item {
        @include item (30px auto auto 30px, 50px);

        &__choix h2 {
            font-size: 1rem;
        }

        &__choix p {
            font-size: 1rem;
        }

        &__prix {
            left: 280px;
            bottom: 50px;
        }

        &__progress {
            @include progress-bar (275px, 116px, 80px);
        }

        &__progress i {
            left: 20px;
            top: 20px;
        }

        &__prix h2 {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 375px) {

    .menu-restaurant {
        &__photo img {
            width: 375px;
        }

        &__photo {
            height: 215px;
        }

        &__nom .far {
            left: 280px;
            bottom: 31px;
            font-size: 1.5rem;
        }
    }
    .item {
        &__prix {
            left: 245px;
            bottom: 47px;
        }

        &__progress {
            @include progress-bar (235px, 116px, 80px);
        }
    }
}
@media screen and (max-width: 320px) {

    .menu-restaurant {
        &__photo img {
            width: 320px;
        }

        &__photo {
            height: 170px;
        }

        &__nom h1 {
            font-size: 1rem;
        }

        &__nom .far {
            left: 220px;
            bottom: 20px;
            font-size: 1.5rem;
        }
    }

    .item-titre {
        padding-left: 20px;
    }

    .item {
        @include item (20px auto auto 20px, 40px);

        &__choix h2 {
            font-size: 0.8rem;
        }

        &__choix p {
            font-size: 0.8rem;
        }

        &__prix {
            left: 220px;
            bottom: 47px;
        }

        &__prix p {
            font-size: 0.8px;
        }

        &__progress {
            @include progress-bar (211px, 110px, 72px);
            width: 60px;
        }

        &__progress i {
            left: 13px;
            top: 20px;
            font-size: 2rem;
        }
    }
}
