@media screen and (max-width: 425px) {

    .menu-restaurant {
        background-color: $background-book;
        display: flex;
        flex-direction: column;

        &__photo {
            height: 235px;
        }

        &__photo img {
            width: 425px;
        }

        &__nom {
            border-radius: 50px 50px 0 0;
            padding-left: 20px;
        }

        &__nom h1 {
            margin-block-end: 0em;
            font-size: 1.8rem;
        }

        &__nom .far {
            left: 320px;
            bottom: 37px;
        }

        &__entrées {
            display: flex;
            flex-direction: column;
        }
        &__bouton {
            @include bouton-generique;
        }
    }

        .item-titre {
            font-size: 1.5rem;
            padding-top: 20px;
            padding-left: 20px;

            &--border {
                border-bottom: 2px solid;
                border-color: $color-border;
            }
        }
        /*///// en faire une mixin*/
    .item {
        width: 80%;
        border-radius: 15px 15px 15px 15px;
        padding: 10px;
        margin: 20px auto auto 20px;
        background-color: #f5f5f5;
        box-shadow: 2px 10px 25px #bdbdbd;
        height: 60px;
        transform: scaleX(1);
        animation: menu-in 1500ms 200ms ease-in-out both;

        &:hover {
            & > .item__progress {
                transform: scaleX(1);
            }

            & > .item__progress i {
                transform: rotate(360deg);
            }

            & > .item__prix {
                transform: translate(-50px);
            }
        }

        &--2 {
            animation-delay: 400ms;
        }

        &--3 {
            animation-delay: 600ms;
        }

        &--4 {
            animation-delay: 800ms;
        }

        &__choix h2 {
            margin-block-start: 0em;
            margin-block-end: 0em;
            font-size: 1rem;
        }

        &__prix {
            position: relative;
            left: 280px;
            bottom: 47px;
            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
        }

        &__progress {
            border-radius: 0 13px 15px 0;
            height: 80px;
            width: 80px;
            position: relative;
            background-color: $color-border;
            left: 270px;
            bottom: 111px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
        }

        &__progress i {
            position: relative;
            left: 25px;
            top: 25px;
            opacity: 1;
            color: white;
            font-size: 2rem;
            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
        }

        &__prix h2 {
            font-size: 1rem;
        }
    }
}
